aiohttp==3.8.1; python_version >= "3.6" and python_full_version >= "3.7.0"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.7.0"
apscheduler==3.8.1; python_full_version >= "3.7.0" and python_version < "4"
asn1crypto==1.4.0; python_full_version >= "3.6.2" and python_version < "4.0"
async-timeout==4.0.1; python_version >= "3.6" and python_full_version >= "3.7.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version >= "3.7.0"
backports.entry-points-selectable==1.1.1; python_version >= "2.7" and python_full_version >= "3.6.1"
black==21.12b0; python_full_version >= "3.6.2"
certifi==2021.10.8; python_full_version >= "3.7.0" and python_version < "4"
cffi==1.15.0; platform_python_implementation == "CPython" and sys_platform == "win32" and python_full_version >= "3.6.2" and python_version < "4" and python_version >= "3.6" and implementation_name == "pypy"
cfgv==3.3.1; python_full_version >= "3.6.1"
charset-normalizer==2.0.9; python_full_version >= "3.7.0" and python_version < "4" and python_version >= "3.6"
click==8.0.3; python_version >= "3.6" and python_full_version >= "3.6.2"
colorama==0.4.4; python_version >= "3.6" and python_full_version >= "3.6.2" and platform_system == "Windows"
cryptography==2.3; python_full_version >= "3.7.0" and python_version < "4.0"
dateutils==0.6.12; python_full_version >= "3.6.2" and python_version < "4"
distlib==0.3.4; python_full_version >= "3.6.1"
eight==1.0.1; python_full_version >= "3.7.0"
filelock==3.4.0; python_version >= "3.6" and python_full_version >= "3.6.1"
frozenlist==1.2.0; python_version >= "3.6" and python_full_version >= "3.7.0"
future==0.18.2; python_full_version >= "3.7.0"
gevent==20.6.1; python_full_version >= "3.6.2" and python_version < "4"
greenlet==0.4.16; python_full_version >= "3.6.2" and python_version < "4.0" and platform_python_implementation == "CPython"
grequests==0.6.0; python_full_version >= "3.6.2" and python_version < "4"
identify==2.4.0; python_full_version >= "3.6.1"
idna==2.10; python_full_version >= "3.7.0" and python_version < "4" and python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6" and python_full_version >= "3.7.0"
lxml==4.6.4; python_full_version >= "3.7.0"
markupsafe==2.0.1; python_version >= "3.6" and python_full_version >= "3.7.0"
multidict==5.2.0; python_version >= "3.6" and python_full_version >= "3.7.0"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.5"
mypy==0.812; python_version >= "3.5"
nodeenv==1.6.0; python_full_version >= "3.6.1"
openleadr==0.5.24; python_full_version >= "3.7.0"
pathspec==0.9.0; python_full_version >= "3.6.2"
platformdirs==2.4.0; python_version >= "3.6" and python_full_version >= "3.6.2"
pre-commit==2.16.0; python_full_version >= "3.6.1"
psutil==5.8.0; python_full_version >= "3.6.2" and python_version < "4.0"
py==1.11.0; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.6" and implementation_name == "pypy"
pycparser==2.21; platform_python_implementation == "CPython" and sys_platform == "win32" and python_full_version >= "3.6.2" and python_version < "4"
pyopenssl==19.0.0; python_full_version >= "3.7.0" and python_version < "4.0"
python-dateutil==2.8.2; python_full_version >= "3.6.2" and python_version < "4"
pytz==2021.3; python_full_version >= "3.7.0" and python_version < "4"
pyyaml==5.4.1; python_full_version >= "3.6.2" and python_version < "4.0"
pyzmq==22.3.0; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.6"
requests==2.23.0; python_full_version >= "3.6.2" and python_version < "4"
signxml-openadr==2.9.1; python_full_version >= "3.7.0"
six==1.16.0; python_full_version >= "3.7.0" and python_version < "4"
toml==0.10.2; python_full_version >= "3.6.2" and python_version < "4"
tomli==1.2.2; python_version >= "3.6" and python_full_version >= "3.6.2"
typed-ast==1.4.3; python_version >= "3.5"
typing-extensions==4.0.1
tzlocal==2.1; python_full_version >= "3.7.0" and python_version < "4.0"
# urllib3==1.26.7; python_full_version >= "3.6.2" and python_version < "4"
virtualenv==20.10.0; python_full_version >= "3.6.1"
watchdog-gevent==0.1.1; python_full_version >= "3.6.2" and python_version < "4.0"
watchdog==2.1.6; python_full_version >= "3.6.2" and python_version < "4.0" and python_version >= "3.6"
xmltodict==0.12.0; python_full_version >= "3.7.0"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.7.0"
zmq==0.0.0; python_full_version >= "3.6.2" and python_version < "4.0"
zope.event==4.5.0; python_full_version >= "3.6.2" and python_version < "4"
zope.interface==5.4.0; python_full_version >= "3.6.2" and python_version < "4"
pbr==5.8.0